@model MovieViewModel

@{
    ViewData["Title"] = "Details";}


<h1>@Model.Name</h1>
<div class="row col-md-3">
    <p>
        <span class="heading">User Rating</span>
        @{
            double colorStars = Math.Round(Model.Score / 2);               

            for (int i = 1; i <= 5; i++)
            {
                if (colorStars >= i)
                {
                    <span class="fa fa-star checked"></span>
                }
                else
                {
                    <span class="fa fa-star"></span>
                }
            }
        }
    </p>
    <p class="ratingText">@Model.Score average based on @Model.NumberOfVotes reviews</p>
</div>


<div style="font-weight: bold">
    Genres:
    <br />
    <p>
        @{foreach (var genre in Model.Genres)
            {
                <span class="badge badge-primary">@genre</span>
            }}
    </p>

</div>

<br />
<h3 class="director">Director: @Model.Director</h3>

<div class="clearfix">

    <div class="row col-md-6">

        <h2 style="font-size: 30px; font-weight: bold">Reviews</h2>
        @{ foreach (var review in Model.Top5Reviews)
            {
                <div>
                    <p class="reviewUser">User: @review.User | Review Rating: @review.Score (@review.NumberOfVotes votes) </p>
                    <p class="font-italic">@review.Text</p>
                </div>
            }
        }
    </div>
</div>
